contourpy
coverage
cycler
fonttools
iniconfig
kiwisolver
matplotlib
numpy
packaging
pillow
pluggy
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
six
tabulate
-e git+ssh://git@github.com/hjstephan/zufall.git
